body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
  }

h1 {
    text-align: center
}

h2 {
    text-align: center
}

/* .map1-header {
    position:absolute;
    top:150px;
    left: 100px;
    text-decoration: underline;
} */

/* Country dropdown marker */
.menu {
    position:relative;
    top: 50%;
    left: 50%;
    color: gold;
    font-weight: bold;
    font-size: 40px;
    text-decoration-line: underline
}

#selDataset {
    position:absolute;
    height: 40px;
    width:160px;
    font-size: 20px;
    top: 55px;
    background-color: rgb(162, 162, 175);
    font-weight: bold;
    /* left: 10% */
}


/* heatmap writing */
.container1 {
    position:relative;
    top: 10%;
    left: 15%;
    color: gold;
    font-weight: bold;
    font-size: 30px;
    text-decoration-line: underline
}

/* heatmap */
#map1 {
    position:absolute;
    height:400px;
    width:700px;
    top: 40px;
    /* left: 10% */
}

/* "Bar Chart of Ratings writing */
.container2 {
    position:relative;
    top: 450px;
    left: 60%;
    color: gold;
    font-weight: bold;
    font-size: 30px;
    text-decoration-line: underline
    /* background-color: lightgrey */
}

/* Bar Chart */
#chart1 {
    position:absolute;
    height:400px;
    width:700px;
    top: 40px;
    /* right: 15% */
}
/* .chart1-header {
    position:absolute;
    top:150px;
    right: 100px;
    text-decoration: underline;
}  */


/* .map2-header {
    position:absolute;
    top:600px;
    right:650px;
    text-decoration: underline;
} */

/* "Interactive Map Writing" */
.container3 {
    position:relative;
    top: -150px;
    left:60%;
    /* color: black; */
    font-weight: bold;
    font-size: 30px;

}

.map2-header {
    color: gold;
    text-decoration-line: underline
}

/* interactive map */
#map2 {
    position:absolute;
    height:400px;
    width:700px;
    top: 40px;
    /* right: 15% */
}

/* price guage writing */
.container4 {
    position:relative;
    top: 300px;
    left: 15%;
    color: gold;
    font-weight: bold;
    font-size: 30px;
    text-decoration-line: underline
}

/* Price gage graph */
#gauge {
    position:absolute;
    height:400px;
    width:700px;
    top: 40px;
    background-color: rgb(41, 114, 209);
    /* right: 15% */
}

.header-img {
    position:relative;
    top: 0px;
    right:-25%;
    /* opacity: 0.2; */
    height:20%;
    width: 50%;
    font-size: 25px;
}

#start {
    position:relative;
    top: 0px;
    left: 00%;
    font-size: 30px;
    /* opacity: 0.2; */
    /* height:20%;
    width: 50%; */
}

.topnav {
    position:relative;
    top: -220px;
    left: 00%;
    /* font-size: 30px; */
}