body {
    padding: 0px;
    margin: 0px;
  }

h1 {
    text-align: center
}

h2 {
    text-align: center
}

/* .map1-header {
    position:absolute;
    top:150px;
    left: 100px;
    text-decoration: underline;
} */

/* Country dropdown marker */
.menu {
    position:relative;
    top: 20px;
    left: 50%;
    color: rgb(0, 0, 255);
    font-weight: bold;
    font-size: 30px;
    text-decoration-line: underline
}

#selDataset {
    position:absolute;
    /* height: 50px;
    width:100px; */
    top: 40px;
    background-color: rgb(150, 164, 172);
    font-weight: bold;
    /* left: 10% */
}


/* heatmap writing */
.container1 {
    position:relative;
    top: 10%;
    left: 15%;
    color: rgb(4, 255, 255);
    font-weight: bold;
    font-size: 30px;
    text-decoration-line: underline
}

/* heatmap */
#map1 {
    position:absolute;
    height:400px;
    width:700px;
    top: 40px;
    /* left: 10% */
}

/* "Bar Chart of Ratings writing */
.container2 {
    position:relative;
    top: 450px;
    left: 60%;
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-size: 30px;
    text-decoration-line: underline
    /* background-color: lightgrey */
}

/* Bar Chart */
#chart1 {
    position:absolute;
    height:400px;
    width:700px;
    top: 40px;
    /* right: 15% */
}
/* .chart1-header {
    position:absolute;
    top:150px;
    right: 100px;
    text-decoration: underline;
}  */


/* .map2-header {
    position:absolute;
    top:600px;
    right:650px;
    text-decoration: underline;
} */

/* "Interactive Map Writing" */
.container3 {
    position:relative;
    top: -150px;
    left:60%;
    color: rgb(255, 230, 0);
    font-weight: bold;
    font-size: 30px;
    text-decoration-line: underline
}

/* interactive map */
#map2 {
    position:absolute;
    height:400px;
    width:700px;
    top: 40px;
    /* right: 15% */
}

/* price guage writing */
.container4 {
    position:relative;
    top: 300px;
    left: 15%;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 30px;
    text-decoration-line: underline
}

/* Price gage graph */
#gauge {
    position:absolute;
    height:400px;
    width:700px;
    top: 40px;
    /* right: 15% */
}

img {
    position:absolute;
    top: -10px;
    right:500px;
    opacity: 0.2;
    height:20%;
    width: 50%;
}